<div class="quote_show">
    <h3 class="quote_text"><%= @quote.text %></h3>
    <p class="source_link"> - <%= link_to "source", @quote.source_url %></p>
</div>
<div class="link_new_quote_form">
    <%= form_with url: post_link_quote_path(@quote), class: "new_quote" do |f| %>
        <%= label_tag nil, " link a new quote:", id: "link_new_quote_instructions" %><br><br>
        <%= radio_button_tag :type, "support" %>
        <%= label_tag :type_support, "supporting" %><br>
        <%= radio_button_tag :type, "oppose" %>
        <%= label_tag :type_oppose, "opposing" %><br><br>
        <%= f.text_area :text, placeholder: "quote text:" %><br>
        <%= f.text_field :source_url, placeholder: "source url:" %><br>
        <%= f.submit "link quote" %>
    <% end %>
</div>
<p class="clipboard_instructions"> or link from the clipboard: </p>
<% if @clipboard.quotes.empty? %>
    <p class="empty_clipboard"> the clipboard is empty. </p>
<% end %>
<div class="row">
<% @clipboard.clipboard_topic_quotes(@quote.topic).each do |quote| %>
    <div class="column">
        <p><%= quote.text %></p>
        <%= form_with url: post_link_clipboard_path(@quote), class: "clipboard_link_form" do |f| %>
            <%= hidden_field_tag :linked_quote_id, quote.id %>
            <%= radio_button_tag :type, "support" %>
            <%= label_tag :type_support, "supporting" %><br>
            <%= radio_button_tag :type, "oppose" %>
            <%= label_tag :type_oppose, "opposing" %><br><br>
            <%= f.submit "link quote" %>
        <% end %>
    </div>
<% end %>