<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= pluralize(@quote.errors.count, "error") %>
      prohibited this quote from being saved:
    </h4>
 
    <ul>
    <% @quote.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if params[:topic_id] %>
    <%= render 'form' %>
<% elsif params[:quote][:topic_id] %>
    <%= render 'form' %>
<% else %>
    <%= render 'new_topic_form' %>
<% end %>