<div class="new_quote">
  <% if @quote.errors.any? %>
  <div id="error_explanation">
    <h4>
      some errors prohibited this quote from being saved:
    </h4>
    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg.downcase %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for @quote, class: "new_quote" do |f| %>
  <% if params[:topic_id] %>
    <%= f.hidden_field :topic_id %>
  <% end %>
  <%= f.text_field :topic_name, placeholder: "topic:", id: "new_topic_form_text_field" %>
  <%= f.collection_select :topic_place, Place.all, :id, :name, id: "new_topic_form_collection_select" %><br><br>
  <%= f.text_area :text, placeholder: "quote text:", value: @quote.text %><br>
  <%= f.text_field :source_url, placeholder: "source url:", value: @quote.source_url %><br>
  <%= f.submit "create quote" %>
  <% end %>
</div>