<% if flash[:alert] %>
    <div class="alert">
        <p><%= flash[:alert] %></p>
    </div>
<% end %>
<div class="quote_show">
    <h3 class="quote_text"><%= @quote.text %></h3>
    <p class="source_link"> - <%= link_to "source: #{@quote.sitename}", @quote.source_url %></p><br>
    <p class="source_link"> - <%= link_to "add to clipboard", add_quote_path(@quote) %></p><br>
    <p class="source_link"> - <%= link_to "link a quote", link_quote_path(@quote) %></p><br>
    <% if current_user == @quote.user %>
        <%= form_with model: @quote, method: 'delete', class: "source_link" do |f| %>
            <%= f.submit "delete quote" %>
        <% end %>
    <% end %>
</div>
<div class="quote_row">
    <div class="for_column">
        <div class="title">
            <h4>supporting quotes:</h4>
        </div>
        <% @quote.supporters.each do |quote| %>
            <div class="for_quote">
                <p><%= quote.text %></p>
                <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
                <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
            </div>
        <% end %>
    </div>
    <div class="against_column">
        <div class="title">
            <h4>opposing quotes:</h4>
        </div>
        <% @quote.opposers.each do |quote| %>
            <div class="against_quote">
                <p><%= quote.text %></p>
                <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
                <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
            </div>
        <% end %>
    </div>
</div>