<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
<div class="login_container">
    <div class="login">
        <%= form_for :user, url: '/sessions' do |f| %>
            <%= f.text_field :username, placeholder: "username:" %><br><br> 
            <%= f.password_field :password, placeholder: "password:" %>
            <%= f.submit "Submit", style: "display: inline" %>
        <% end %>
    </div>
</div>
<div class="login_container">
    <%= link_to 'log in with Facebook', '/auth/facebook', class: "facebook_login" %>
</div>