<%= link_to "new quote", new_quote_path, class: "new_quote" %>
<div class="topics_index_top_pane">
    <% if logged_in? %>
        <%= form_tag("/topics", method: "get", class: "topics_filter") do %>
            <%= select_tag "filter", options_for_select(["following", current_user.places.collect { |p| p.name }].flatten) %>
            <%= submit_tag "Filter"  %>
        <% end %>
    <% end %>
</div>
<% @topics.each do |topic| %>
    <br>
    <h2 class="place_title"><%= link_to topic.name, topic_path(topic) %></h2>
    <% if logged_in? %>
        <% if !current_user.topics.include?(topic) %>
            <%= form_with url: follow_topic_path(topic), class: "follow" do %>
                <%= submit_tag("follow") %>
            <% end %>
        <% else %>
            <%= form_with url: unfollow_topic_path(topic), class: "follow" do %>
                <%= submit_tag("unfollow") %>
            <% end %>
        <% end %>
    <% end %>
    <br><br>
    <div class="topic_row">
    <% topic.first_3_quotes.each do |quote| %>
        <div class="topic_index_column">
            <p><%= quote.text %></p>
            <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
            <%= link_to "see quote", quote_path(quote), class: "see_quote" %><br>
            <p class="support_count">supporting: <%= quote.support_count %></p>
            <p class="support_count">opposing: <%= quote.oppose_count %></p>
        </div>
    <% end %>
    <% if topic.quotes.length > 3 %>
        <div class="topic_index_column">
            <%= link_to "see more...", topic_path(topic), class: "see_more" %>
        </div>
    <% end %>
    </div>
    <br><br>
<% end %>