<div class="centered_clipboard_title">
<h2 class="clipboard_title"><%= @topic.name %></h2>
<% if logged_in? %>
    <% if !current_user.topics.include?(@topic) %>
        <%= form_with url: follow_topic_path(@topic), class: "show_follow" do %>
            <%= submit_tag("follow") %>
        <% end %>
    <% else %>
        <%= form_with url: unfollow_topic_path(@topic), class: "show_follow" do %>
            <%= submit_tag("unfollow") %>
        <% end %>
    <% end %>
<% end %>
</div>
<%= link_to "new quote", new_topic_quote_path(@topic), class: "new_quote_topic" %>
<div class="row">
<% @topic.quotes.each do |quote| %>
    <div class="column">
        <p class="quote_text"><%= quote.text %></p>
        <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
        <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
        <p class="support_count">supporting: <%= quote.support_count %></p>
        <p class="support_count">opposing: <%= quote.oppose_count %></p>
    </div>
<% end %>