<h2 class="clipboard_title"><%= @topic.name %></h2>
<%= link_to "new quote", new_topic_quote_path(@topic), class: "new_quote" %>
<div class="row">
<% @topic.quotes.each do |quote| %>
    <div class="column">
        <p><%= quote.text %></p>
        <%= link_to "source", quote.source_url, class: "source" %>
        <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
    </div>
<% end %>