<h2 class="clipboard_title_real">clipboard</h2>
<div class="clear_clipboard">
    <%= form_with url: clear_clipboard_path(current_user), method: 'delete' do %>
        <%= submit_tag("clear clipboard") %>
    <% end %>
</div>
<div class="topics_index_top_pane">
</div>
<br>
<% @clipboard.clipboard_topics.each do |topic| %>
    <h2 class="place_title"><%= topic.name %></h2>
    <br>
    <br>
    <div class="row">
    <% @clipboard.clipboard_topic_quotes(topic).each do |quote| %>
        <div class="clipboard_column">
            <p class="quote_text"><%= quote.text %></p>
            <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
            <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
            <p class="support_count">supporting: <%= quote.support_count %></p>
            <p class="support_count">opposing: <%= quote.oppose_count %></p>
        </div>
    <% end %>
    </div>
<% end %>