<div class="centered_clipboard_title_place">
    <h2 class="clipboard_title"><%= @user.username %></h2>
    <% if logged_in? %>
        <% if !current_user.followees.include?(@user) %>
            <%= form_with url: follow_user_path(@user), class: "follow" do %>
                <%= submit_tag("follow") %>
            <% end %>
        <% else %>
            <%= form_with url: unfollow_user_path(@user), class: "follow" do %>
                <%= submit_tag("unfollow") %>
            <% end %>
        <% end %>
    <% end %>
</div>
<% @user.quote_topics.uniq.each do |topic| %>
    <br>
    <h2 class="place_title"><%= link_to topic.name, topic_path(topic) %></h2>
    <br>
    <br>
    <div class="topic_row"> 
        <% topic.topic_last_3_quotes(@user).each do |quote| %>
            <div class="topic_index_column">
                <p class="quote_text"><%= quote.text %></p>
                <%= link_to "source: #{quote.sitename}", quote.source_url, class: "source" %>
                <%= link_to "see quote", quote_path(quote), class: "see_quote" %><br>
                <p class="support_count">supporting: <%= quote.support_count %></p>
                <p class="support_count">opposing: <%= quote.oppose_count %></p>
            </div>
        <% end %>
        <% if @user.quotes.length > 3 %>
            <div class="break_column"></div>
            <%= link_to "see more...", topic_path(topic), class: "see_more" %>
        <% end %>
        <br>
    </div>
<% end %>