<h2 class="clipboard_title"><%= @place.name %></h2>
<% if logged_in? %>
    <% if !current_user.places.include?(@place) %>
        <%= form_with url: follow_place_path(@place), class: "show_follow" do %>
            <%= submit_tag("follow") %>
        <% end %>
    <% else %>
        <%= form_with url: unfollow_place_path(@place), class: "show_follow" do %>
            <%= submit_tag("unfollow") %>
        <% end %>
    <% end %>
<% end %>
<% @place.topics.each do |topic| %>
    <h2><%= link_to topic.name, topic_path(topic) %></h2>
    <div class="row">
    <% topic.first_3_quotes.each do |quote| %>
        <div class="column">
            <p><%= quote.text %></p>
            <%= link_to "source", quote.source_url, class: "source" %>
            <%= link_to "see quote", quote_path(quote), class: "see_quote" %>
            <p class="support_count">supporting: <%= quote.support_count %></p>
            <p class="support_count">opposing: <%= quote.oppose_count %></p>
        </div>
    <% end %>
    </div>
    <% if topic.quotes.length > 3 %>
        <br>
        <%= link_to "see more...", topic_path(topic), class: "see_more" %>
    <% end %>
    <br><br>
<% end %>