<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/newspaper.css">
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title">forum</h1>
      <div class="nav">
        <ul>
          <li><%= link_to "topics", topics_path %>
          <li><%= link_to "places", places_path %>
          <% if logged_in? %>
            <li><%= link_to "clipboard", clipboard_path(current_user) %>
            <li class="float_right"><%= link_to "log out", '/logout' %>
            <li class="float_right"><p><%= current_user.username %></p>
          <% else %>
            <li class="float_right"><%= link_to "log in", '/login' %>
            <li class="float_right"><%= link_to "sign up", '/signup' %>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
