<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="nav">
        <ul>
          <li><%= link_to "topics", topics_path %>
          <li><%= link_to "places", places_path %>
          <li><%= link_to "users", users_path %>
          <% if logged_in? %>
            <li class="float_right"><%= link_to "log out", '/logout' %>
          <% else %>
            <li class="float_right"><%= link_to "log in", '/login' %>
            <li class="float_right"><%= link_to "sign up", '/signup' %>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
